* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --base-size: 16px;
    --lightcoral: #f08080;

    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: var(--base-size) var(--base-size) 0 var(--base-size);
    user-select: none;
}

::-webkit-scrollbar {
    width: calc(var(--base-size) * 2);
    border: 1px solid black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--lightcoral);
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.heading {
    text-align: center;
    background-color: var(--lightcoral);
    color: white;
    padding: var(--base-size);
    margin: calc(var(--base-size) * 3) auto var(--base-size) auto;
    width: 60vw;
}

.pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.page {
    padding: var(--base-size);
    margin: calc(var(--base-size) * 2);
    border: 1px solid black;
    border-radius: var(--base-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    transition: .5s all ease;
    box-shadow: calc(var(--base-size) * 1/2) calc(var(--base-size) * 1/2) 0 black;
    background: white;
}

.page:hover {
    background: var(--lightcoral);
    cursor: pointer;
}

.image {
    width: 150px;
    height: 150px;
    margin: calc(var(--base-size) * 1/2);
    border-radius: calc(var(--base-size) * 1/2);
    margin-bottom: calc(var(--base-size) * 2);
}

.link {
    text-decoration: none;
    text-align: center;
    color: inherit;
}

.label {
    text-align: center;
    padding: var(--base-size) 0;
}
