.container {
    align-items: center;
}

.heading {
    margin-bottom: calc(var(--base-size) * 9/2);
}

.arrow {
    position: fixed;
    top: calc(var(--base-size) * 2);
    right: calc(var(--base-size) * 2);
    height: calc(var(--base-size) * 3);
    width: calc(var(--base-size) * 3);
}

.section {
    width: 60vw;
}

.section-heading {
    margin-top: calc(var(--base-size) * 3/2);
    margin-bottom: calc(var(--base-size) * 1/2);
}

.paragraph {
    line-height: 125%;
    margin: var(--base-size) 0;
}

@media(max-width: 1024px) {
    .heading, .section {
        width: 80vw;
    }
}
